{% extends "layout.html" %}

{% block main %}

    <div class="container">
        <h1>À Propos de Rap Carte</h1>
        <p>Rap Carte est une plateforme dédiée à la cartographie des artistes de rap. Notre objectif est de fournir une vue d'ensemble des lieux et des événements liés au rap.</p>
        
        <h2>Notre Mission</h2>
        <p>Nous souhaitons mettre en lumière les artistes émergants, les concerts et les événements qui font vibrer la scène rap selon leur localisation.</p>

        <h2>Contribuer</h2>
        <p>Vous pouvez contribuer en ajoutant des informations sur les artistes, les concerts ou les lieux que vous connaissez. Contactez-nous pour plus de détails.</p>
    </div>

{% endblock %}